<h4>You can edit your profile here</h4>
<form method="post" id="form">
<input type="text" name="firstname" placeholder="{{userData.first_name}}"><br>
<input type="text" name="lastname" placeholder="{{userData.last_name}}"><br>
<input type="text" name="email" placeholder="{{userData.email}}" value=""><br>
<input type="password" name="password" placeholder="password" value=""><br>
<input type="text" name="age" placeholder="{{userData.age}}"><br>
<input type="text" name="city" placeholder="{{userData.city}}"><br>
<input type="text" name="url" placeholder="{{userData.url}}"><br>
<button type="submit" id="button">Update</button>
</form>
